<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>1Password Plugin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.robertson.Quicksilver.OnePassword</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>1Password Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.0</string>
	<key>CFBundleVersion</key>
	<string>3B6</string>
	<key>QSActions</key>
	<dict>
		<key>openAndFill</key>
		<dict>
			<key>actionClass</key>
			<string>OnePasswordAction</string>
			<key>actionSelector</key>
			<string>openAndFill:</string>
			<key>directTypes</key>
			<array>
				<string>QS1PasswordURLType</string>
			</array>
			<key>name</key>
			<string>Open &amp; Fill</string>
			<key>precedence</key>
			<string>4</string>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>QS1PasswordKeychainPath</key>
		<string>~/Library/Application Support/1Password 4/3rd Party Integration/bookmarks-default.json</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Patrick Robertson</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Quickly find and use 1Password items</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;1Password Plugin&lt;/h2&gt;
&lt;p&gt;This plugin gives you the ability to quickly find 1Password items using Quicksilver.&lt;/p&gt;
&lt;p&gt;With any item from 1Password selected, you can:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;View the item in 1Password&lt;/li&gt;
&lt;li&gt;Quick Look the item&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;Login Items&lt;/h3&gt;
&lt;p&gt;Login items have some special features. By default, opening a Login item will trigger the “Open &amp;amp; Fill” behavior using the first URL associated with the item. To view the item in 1Password instead, hold the Shift key while opening it. (This behavior is part of 1Password, not Quicksilver.)&lt;/p&gt;
&lt;p&gt;All of the URLs associated with a Login are accesible by selecting the item and hitting &lt;kbd&gt;→&lt;/kbd&gt; or &lt;kbd&gt;/&lt;/kbd&gt;. Use this feature when you want to Open &amp;amp; Fill one of its other URLs.&lt;/p&gt;
&lt;h3&gt;Requirements&lt;/h3&gt;
&lt;p&gt;For Quicksilver to index items from 1Password, you will need to enable &lt;a href="https://support.1password.com/integration-mac/"&gt;integration with 3rd party&lt;/a&gt; apps in the “Advanced” section of 1Password’s preferences.&lt;/p&gt;
&lt;h3&gt;Catalog&lt;/h3&gt;
&lt;p&gt;The 1Password catalog presets allow Quicksilver to index your 1Password items. (Only basic information like title and URL is available. 1Password does not expose sensitive data to 3rd party applications.)&lt;/p&gt;
&lt;p&gt;Go to Preferences → &lt;a href="qs://preferences#QSCatalogPrefPane"&gt;Catalog&lt;/a&gt; → Plugins and look for the 1Password group. By expanding this group, you can select which categories from 1Password you would like indexed by Quicksilver.&lt;/p&gt;
&lt;p&gt;You can access all these items by right arrowing (→) into the 1Password application in Quicksilver’s first pane.&lt;/p&gt;
&lt;h3&gt;Actions&lt;/h3&gt;
&lt;dl&gt;
&lt;dt&gt;Open &amp;amp; Fill&lt;/dt&gt;
&lt;dd&gt;The Open &amp;amp; Fill action is available for individual website URLs associated with Login items. When run, 1Password opens the URL in your browser and fills the login form.&lt;/dd&gt;
&lt;/dl&gt;
&lt;hr&gt;
&lt;p&gt;This plugin has taken a lot of development time. If you enjoy using it, please consider &lt;a href="http://patjack.co.uk/donating-for-my-quicksilver-1password-plugin/"&gt;donating&lt;/a&gt;.&lt;/p&gt;</string>
		<key>icon</key>
		<string>QS1PasswordIcon</string>
		<key>relatedBundles</key>
		<array>
			<string>com.agilebits.onepassword7</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPreset1PasswordGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordLogins</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Logins</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>001</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordCreditCards</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Credit Cards</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>002</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordNotes</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Secure Notes</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>003</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordIdentities</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Identities</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>004</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordPasswords</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Generated Passwords</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>005</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordDocuments</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Documents</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>006</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordLicenses</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Software Licenses</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>100</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordBankAccounts</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Bank Accounts</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>101</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordDatabases</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Databases</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>102</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordDriverLicenses</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Driver Licenses</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>103</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordOutdoorLicenses</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Outdoor Licenses</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>104</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordMemberships</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Memberships</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>105</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordPassports</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Passports</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>106</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordRewardPrograms</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Reward Programs</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>107</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordSSNs</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Social Security Numbers</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>108</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordWirelessRouters</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Wireless Routers</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>109</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordServers</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Servers</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>110</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordEmailAccounts</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>QS1PasswordVaultIcon</string>
					<key>name</key>
					<string>Email Accounts</string>
					<key>settings</key>
					<dict>
						<key>categoryUUID</key>
						<string>111</string>
					</dict>
					<key>source</key>
					<string>OnePasswordSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>QS1PasswordIcon</string>
			<key>name</key>
			<string>1Password</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>OnePasswordAction</key>
			<string>OnePasswordAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.agilebits.onepassword7</key>
			<string>OnePasswordSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QS1PasswordItemType</key>
			<string>OnePasswordSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>OnePasswordSource</key>
			<string>OnePasswordSource</string>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QS1PasswordItemType</key>
			<dict>
				<key>icon</key>
				<string>QS1PasswordIcon</string>
				<key>name</key>
				<string>1Password Items</string>
				<key>smartspace</key>
				<integer>6</integer>
			</dict>
			<key>QS1PasswordURLType</key>
			<dict>
				<key>icon</key>
				<string>QS1PasswordIcon</string>
				<key>name</key>
				<string>URLs from 1Password</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.agilebits.onepassword7</string>
				<key>name</key>
				<string>1Password 7</string>
				<key>version</key>
				<string>7.0.0</string>
			</dict>
		</array>
		<key>minHostVersion</key>
		<string>4012</string>
		<key>osRequired</key>
		<string>10.12</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>QS1PasswordIcon</key>
		<array>
			<dict>
				<key>bundle</key>
				<string>com.agilebits.onepassword7</string>
				<key>resource</key>
				<string>AppIcon.icns</string>
			</dict>
		</array>
		<key>QS1PasswordVaultIcon</key>
		<array>
			<dict>
				<key>bundle</key>
				<string>com.agilebits.onepassword7</string>
				<key>resource</key>
				<string>opvault.icns</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
