<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.robertson.Quicksilver.OnePassword</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>1Password Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>211</string>
	<key>QSActions</key>
	<dict>
		<key>goAndFill</key>
		<dict>
			<key>actionClass</key>
			<string>OnePasswordAction</string>
			<key>actionSelector</key>
			<string>goAndFill:</string>
			<key>alternateAction</key>
			<string>viewInOnePwd</string>
			<key>directTypes</key>
			<array>
				<string>QS1PasswordForm</string>
			</array>
			<key>name</key>
			<string>Go &amp; Fill</string>
			<key>precedence</key>
			<string>4</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>goAndFillWith</key>
		<dict>
			<key>actionClass</key>
			<string>OnePasswordAction</string>
			<key>actionSelector</key>
			<string>goAndFill:with:</string>
			<key>directTypes</key>
			<array>
				<string>QS1PasswordForm</string>
			</array>
			<key>name</key>
			<string>Go &amp; Fill With...</string>
			<key>precedence</key>
			<string>3</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>viewInOnePwd</key>
		<dict>
			<key>actionClass</key>
			<string>OnePasswordAction</string>
			<key>actionSelector</key>
			<string>viewInOnePwd:</string>
			<key>directTypes</key>
			<array>
				<string>QS1PasswordForm</string>
				<string>QS1PasswordSecureNote</string>
				<string>QS1PasswordIdentity</string>
				<string>QS1PasswordSoftwareLicense</string>
				<string>QS1PasswordOnlineService</string>
				<string>QS1PasswordWalletItem</string>
			</array>
			<key>name</key>
			<string>Reveal in 1Password</string>
			<key>precedence</key>
			<string>2</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Patrick Robertson</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Adds support for 1Password Data to Reveal in 1Password and to Go &amp; Fill web forms</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;1Password 3 Plugin&lt;/h3&gt; &lt;p&gt;This plugin enables right arrowing into the 1Password application, giving access to data saved in 1Password&lt;br /&gt; &lt;p&gt;Web logins objects, have 'Go &amp; Fill' action, as well as a 'Go &amp; Fill With...' action. &lt;/p&gt; &lt;p&gt;These actions works with the comma trick, so you can open multiple logins at once, or open them in multiple browsers&lt;/p&gt; &lt;p&gt;1Password data can be indexed directly in the Quicksilver catalog by 'ticking' the 'Web Forms' source under Catalog Preferences (disbaled by default)&lt;br /&gt; This plugin also adds support for 'Reveal in 1Password' for all data types: web forms, accounts, software, identities, wallet items and notes using the action 'Reveal in 1Password'&lt;/p&gt; &lt;p&gt;This plugin has taken a lot of development, so please consider &lt;a href="http://patjack.co.uk/donating-for-my-quicksilver-1password-plugin/"&gt;donating&lt;/a&gt;.&lt;/p&gt;</string>
		<key>icon</key>
		<string>ws.agile.1Password</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetOnePassword</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordForm</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>ws.agile.1Password</string>
					<key>name</key>
					<string>Logins</string>
					<key>source</key>
					<string>OnePasswordSource</string>
					<key>type</key>
					<string>WebForm</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordOnlineService</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>/Applications/1Password.app/Contents/Resources/logins-icon-128.png</string>
					<key>name</key>
					<string>Accounts</string>
					<key>source</key>
					<string>OnePasswordSource</string>
					<key>type</key>
					<string>OnlineService</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordIdentity</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>UserIcon</string>
					<key>name</key>
					<string>Identities</string>
					<key>source</key>
					<string>OnePasswordSource</string>
					<key>type</key>
					<string>Identity</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordSecureNote</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>/Applications/1Password.app/Contents/Resources/secure-notes-icon-128.png</string>
					<key>name</key>
					<string>Secure Notes</string>
					<key>source</key>
					<string>OnePasswordSource</string>
					<key>type</key>
					<string>SecureNote</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordSoftwareLicense</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>ToolbarAppsFolderIcon</string>
					<key>name</key>
					<string>Software Licenses</string>
					<key>source</key>
					<string>OnePasswordSource</string>
					<key>type</key>
					<string>SoftwareLicense</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPreset1PasswordWalletItem</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>/Applications/1Password.app/Contents/Resources/wallet-icon-128.png</string>
					<key>name</key>
					<string>Wallet Items</string>
					<key>source</key>
					<string>OnePasswordSource</string>
					<key>type</key>
					<string>WalletItem</string>
				</dict>
			</array>
			<key>icon</key>
			<string>ws.agile.1Password</string>
			<key>name</key>
			<string>1Password</string>
			<key>requiresBundle</key>
			<string>ws.agile.1Password</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>OnePasswordAction</key>
			<string>OnePasswordAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>ws.agile.1Password</key>
			<string>OnePasswordSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QS1PasswordForm</key>
			<string>OnePasswordSource</string>
			<key>QS1PasswordIdentity</key>
			<string>OnePasswordSource</string>
			<key>QS1PasswordOnlineService</key>
			<string>OnePasswordSource</string>
			<key>QS1PasswordSecureNote</key>
			<string>OnePasswordSource</string>
			<key>QS1PasswordSoftwareLicense</key>
			<string>OnePasswordSource</string>
			<key>QS1PasswordWalletItem</key>
			<string>OnePasswordSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>OnePasswordSource</key>
			<string>OnePasswordSource</string>
		</dict>
	</dict>
</dict>
</plist>
